<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRoomLabel">Create or edit a Room</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!room.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="room.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_roomid">Roomid</label>
            <input type="number" class="form-control" name="roomid" id="field_roomid"
                [(ngModel)]="room.roomid" required/>
            <div [hidden]="!(editForm.controls.roomid?.dirty && editForm.controls.roomid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.roomid?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.roomid?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_roomtype">Roomtype</label>
            <input type="number" class="form-control" name="roomtype" id="field_roomtype"
                [(ngModel)]="room.roomtype" required/>
            <div [hidden]="!(editForm.controls.roomtype?.dirty && editForm.controls.roomtype?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.roomtype?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.roomtype?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isReserved">Is Reserved</label>
            <input type="checkbox" class="form-control" name="isReserved" id="field_isReserved"
                [(ngModel)]="room.isReserved" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_booking">Booking</label>
            <select class="form-control" id="field_booking" name="booking" [(ngModel)]="room.booking" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bookingOption.id === room.booking?.id ? room.booking : bookingOption" *ngFor="let bookingOption of bookings; trackBy: trackBookingById">{{bookingOption.book_id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_roomType">Room Type</label>
            <select class="form-control" id="field_roomType" name="roomType" [(ngModel)]="room.roomType" >
                <option [ngValue]="null"></option>
                <option [ngValue]="roomTypeOption.id === room.roomType?.id ? room.roomType : roomTypeOption" *ngFor="let roomTypeOption of roomtypes; trackBy: trackRoomTypeById">{{roomTypeOption.room_type}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
