<div>
    <h2>
        <span>Rooms</span>
        <button class="btn btn-primary float-right jh-create-entity create-room-model" [routerLink]="['/', { outlets: { popup: ['room-model-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Room
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rooms">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Roomid</span></th>
            <th><span>Roomtype</span></th>
            <th><span>Is Reserved</span></th>
            <th><span>Booking</span></th>
            <th><span>Room Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let room of rooms ;trackBy: trackId">
                <td><a [routerLink]="['../room-model', room.id ]">{{room.id}}</a></td>
                <td>{{room.roomid}}</td>
                <td>{{room.roomtype}}</td>
                <td>{{room.isReserved}}</td>
                <td>
                    <div *ngIf="room.booking">
                        <a [routerLink]="['../booking-model', room.booking?.id ]" >{{room.booking?.book_id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="room.roomType">
                        <a [routerLink]="['../room-type-model', room.roomType?.id ]" >{{room.roomType?.room_type}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../room-model', room.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'room-model/'+ room.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'room-model/'+ room.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
