
<div *ngIf="room">
    <h2><span>Room</span> {{room.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Roomid</span></dt>
        <dd>
            <span>{{room.roomid}}</span>
        </dd>
        <dt><span>Roomtype</span></dt>
        <dd>
            <span>{{room.roomtype}}</span>
        </dd>
        <dt><span>Is Reserved</span></dt>
        <dd>
            <span>{{room.isReserved}}</span>
        </dd>
        <dt><span>Booking</span></dt>
        <dd>
            <div *ngIf="room.booking">
                <a [routerLink]="['/booking-model', room.booking?.id]">{{room.booking?.book_id}}</a>
            </div>
        </dd>
        <dt><span>Room Type</span></dt>
        <dd>
            <div *ngIf="room.roomType">
                <a [routerLink]="['/room-type-model', room.roomType?.id]">{{room.roomType?.room_type}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'room-model/'+ room.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
