<div>
    <h2>
        <span>Room Services</span>
        <button class="btn btn-primary float-right jh-create-entity create-room-service-config" [routerLink]="['/', { outlets: { popup: ['room-service-config-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Room Service
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="roomServices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Description</span></th>
            <th><span>Bill</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roomService of roomServices ;trackBy: trackId">
                <td><a [routerLink]="['../room-service-config', roomService.id ]">{{roomService.id}}</a></td>
                <td>{{roomService.description}}</td>
                <td>
                    <div *ngIf="roomService.bill">
                        <a [routerLink]="['../bill-config', roomService.bill?.id ]" >{{roomService.bill?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../room-service-config', roomService.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'room-service-config/'+ roomService.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'room-service-config/'+ roomService.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
