<div>
    <h2>
        <span>Bills</span>
        <button class="btn btn-primary float-right jh-create-entity create-bill-model" [routerLink]="['/', { outlets: { popup: ['bill-model-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Bill
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bills">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Paytype</span></th>
            <th><span>Paydate</span></th>
            <th><span>Billcost</span></th>
            <th><span>Customer</span></th>
            <th><span>Room Service</span></th>
            <th><span>Booking</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bill of bills ;trackBy: trackId">
                <td><a [routerLink]="['../bill-model', bill.id ]">{{bill.id}}</a></td>
                <td>{{bill.paytype}}</td>
                <td>{{bill.paydate | date:'medium'}}</td>
                <td>{{bill.billcost}}</td>
                <td>
                    <div *ngIf="bill.customer">
                        <a [routerLink]="['../customer-model', bill.customer?.id ]" >{{bill.customer?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bill.roomService">
                        <a [routerLink]="['../room-service-model', bill.roomService?.id ]" >{{bill.roomService?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bill.booking">
                        <a [routerLink]="['../booking-model', bill.booking?.id ]" >{{bill.booking?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bill-model', bill.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bill-model/'+ bill.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bill-model/'+ bill.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
